.about-us__wrapper {
  padding: 30px 30px 24px;

  @media (min-width: @tablet-width) {
    padding: 56px 50px 27px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 68px 50px 35px 225px;
    box-sizing: border-box;
    width: 1150px;
  }
}

.about-us__title {
  .titles();
  margin: 0 0 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }
}

.about-us__list {
  .about-subtitles();
  margin: 0;
  padding: 55px 0 20px;
  display: flex;
  flex-direction: column;
  row-gap: 83px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding: 56px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 110px;
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 0;
    width: 700px;
  }
}

.about-us__item {
  padding: 0;
  position: relative;

  &--flower-icon::after {
    position: absolute;
    content: "";
    width: 33px;
    height: 38px;
    top: -57px;
    left: 8px;
    background: url("../img/flower-icon.svg") no-repeat center;
  }

  &--money-icon::after {
    position: absolute;
    content: "";
    width: 47px;
    height: 27px;
    top: -54px;
    left: 1px;
    background: url("../img/money-icon.svg") no-repeat center;
  }

  &--heart-icon::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 27px;
    top: -48px;
    left: 8px;
    background: url("../img/heart-icon.svg") no-repeat center;
  }

  &--thread-icon::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 34px;
    top: -53px;
    left: 3px;
    background: url("../img/thread-icon.svg") no-repeat center;
  }

  &--rocket-icon::after {
    position: absolute;
    content: "";
    width: 55px;
    height: 23px;
    top: -51px;
    left: -6px;
    background: url("../img/rocket-icon.svg") no-repeat center;
  }

  &--gift-icon::after {
    position: absolute;
    content: "";
    width: 33px;
    height: 32px;
    top: -52px;
    left: 3px;
    background: url("../img/gift-icon.svg") no-repeat center;
  }

  @media (min-width: @tablet-width) {
    width: 50%;

    &--flower-icon {
      order: 1;
    }

    &--money-icon {
      order: 3;
    }

    &--heart-icon {
      order: 5;
    }

    &--thread-icon {
      order: 2;
    }

    &--rocket-icon {
      order: 4;
    }

    &--gift-icon {
      order: 6;
    }
  }
}
