.feature-list {
  margin: 0 auto 28px;
  padding: 0;
  width: 260px;
  display: grid;
  grid-template-columns: 97px auto;
  grid-template-rows: repeat(3, 40px);
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin: 0 0 57px;
    width: 292px;
  }
}

.feature-list__item {
  position: relative;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    top: 32px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ececec;
  }
}
