.intro-main {
  padding-top: 73px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/intro-font.png");
  background-position-y: -17px;
  background-color: #f1f1f1;
}

.intro-main__title {
  margin: 0 0 120px;
  padding: 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.intro-main__link {
  padding: 24px 30px 31px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;

  &--interior {
    background: url("../img/interior-icon.svg") no-repeat right 36px center;
    background-color: #63d1bb;
  }

  &--toys {
    background: url("../img/toy-icon.svg") no-repeat right 27px center;
    background-color: #56c3b2;
  }
}
