.product-card__wrapper {
  padding: 32px 30px 42px;
  background: url("../img/zigzag-line.svg") repeat-x bottom;

  @media (min-width: @tablet-width) {
    padding: 51px 50px 69px;
    position: relative;
    background: url("../img/zigzag-line-tablet.svg") repeat-x bottom;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 131px 50px 96px 225px;
    box-sizing: border-box;
    width: 1150px;
    position: relative;
    background: url("../img/zigzag-line-desktop.svg") no-repeat bottom;
  }
}

.product-card__title {
  .titles;
  margin: 0 0 3px;

  @media (min-width: @tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
    position: relative;
    z-index: 2;
  }
}

.product-card__subtitle {
  .product-of-week;
  margin: 0 0 18px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 63px;
    top: 56px;
    width: 100px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 82px;
    top: 139px;
    line-height: 17px;
    width: 100px;
    text-align: center;
  }
}

.product-card__description {
  .product-description;
  margin: 0 0 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
    width: 292px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.product-card__image {
  margin: 0 auto 25px;
  display: block;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    position: absolute;
    top: 151px;
    right: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 1;
  }
}

.product-card__price {
  .product-price;
  margin: 0 0 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    width: 292px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.product-card button {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
