.product-card {
  padding: 30px 30px 36px;
  color: #444444;
  background: url("../img/zigzag-line.svg") repeat-x bottom;

  @media (min-width: @tablet-width) {
    padding: 40px 50px 69px;
    position: relative;
    background: url("../img/zigzag-line-tablet.svg") repeat-x bottom;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 50px 96px 225px;
    position: relative;
    background: url("../img/zigzag-line-desktop.svg") no-repeat bottom;
  }
}

.product-card__title {
  margin: 0 0 3px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    font-size: 53px;
    line-height: 57px;
    z-index: 2;
  }
}

.product-card__subtitle {
  margin: 0 0 18px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 63px;
    top: 46px;
    line-height: 17px;
    width: 100px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 82px;
    top: 123px;
    line-height: 17px;
    width: 100px;
    text-align: center;
  }
}

.product-card__description {
  margin: 0 0 28px;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
    width: 292px;
    font-size: 17px;
    line-height: 30px;
  }
}

.product-card__image {
  margin: 0 auto 25px;
  display: block;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    position: absolute;
    top: 140px;
    right: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    position: absolute;
    top: 54px;
    right: 50px;
    z-index: 1;
  }
}

.product-card__price {
  margin: 0 0 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    width: 292px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 33px;
  }
}

.product-card button {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
