.reviews {
  padding: 30px 30px 51px;
  background: url("../img/zigzag-line.svg") repeat-x bottom;

  @media (min-width: @tablet-width) {
    position: relative;
    padding: 0 0 68px;
    background: url("../img/zigzag-line-tablet.svg") repeat-x bottom;
  }

  @media (min-width: @desktop-width) {
    padding: 0 50px 90px;
    background: url("../img/zigzag-line-desktop.svg") no-repeat bottom;
  }
}

.reviews__wrapper {
  @media (min-width: @tablet-width) {
    padding: 82px 50px 47px;
    position: relative;
    background-image: url("../../img/review-font-tablet.png");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    padding: 78px 0 96px 174px;
  }
}

.reviews__title {
  margin: 0 0 14px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__buttons-wrapper {
  margin: 0 auto 38px;
  display: flex;
  width: 260px;
  height: 52px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    position: absolute;
    bottom: 117px;
    right: 50px;
    width: 137px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    bottom: 195px;
  }
}

.reviews__button {
  width: 130px;
  background-color: transparent;
  border: 1px solid #ececec;
  cursor: pointer;

  &--prev {
    background: url("../img/slider-left-arrow.svg") no-repeat center;
  }

  &--next {
    background: url("../img/slider-right-arrow.svg") no-repeat center;
  }

  @media (min-width: @tablet-width) {
    width: 50px;
    border: none;
  }
}

.reviews a {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 82px;
    right: 50px;
    width: 175px;
  }
}
