.slider-list {
  margin: 0 0 29px;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 810px;
  }
}

.slider-list__review {
  .review-text;
  margin: 0 0 33px;
  word-wrap: break-word;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.slider-list__review br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider-list__author-name {
  .review-name;
  margin: 0 0 3px;
}

.slider-list__author-username {
  .review-username;
  margin: 0;
}
