.site-list {
  margin: 0;
  padding: 0;
  width: 320px;
  list-style-type: none;
}

.site-list__item {
  border-bottom: 1px solid #ececec;

  &:first-child {
    border-top: 1px solid #ececec;
  }
}

.site-list__item a {
  display: block;
  padding: 27px 32px 28px 76px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}
