.main-header__logo:hover,
.main-nav__news-sale-link:hover,
.user-list__button:hover span,
.reviews__button:hover,
.product-catalog__name:hover {
  opacity: 0.6;
}

.site-list__link:hover {
  color: fade(@black, 60%);
}

.site-list__link:active {
  color: fade(@black, 30%);
}

.user-list__button:hover svg,
.product-catalog__basket-icon:hover {
  fill: @green;
  opacity: 1;
}

.product-catalog__item-link:focus-visible {
  outline: 2px solid @green;
}

.product-catalog__name-link:focus-visible,
.product-catalog__name-link:focus-visible .product-catalog__name {
  outline: none;
  color: @green;
}

.product-catalog__button:focus-visible svg,
.product-catalog__button:focus-visible {
  outline: none;
  fill: @green;
  opacity: 1;
}

.user-list__button:active svg,
.product-catalog__basket-icon:active {
  opacity: 0.3;
}

.main-header__logo:active,
.main-nav__news-sale-link:active,
.user-list__button:active span,
.reviews__button:active,
.product-catalog__name:active {
  opacity: 0.3;
}

.site-list__link:focus-visible,
.main-nav__news-sale-link:focus-visible,
.user-list__button:focus-visible,
.reviews__button:focus-visible {
  outline: none;
  background-color: @green;
}

.main-header__logo:focus-visible {
  outline: none;
  opacity: 0.6;
}

.intro-main__link:hover,
.intro-main__link:focus-visible {
  outline: none;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.intro-main__link--interior:hover {
  background-image: url("../img/interior-hover.svg");
  background-color: #59d5bc;
}

.intro-main__link--interior:active {
  background-image: url("../img/interior-active.svg");
  background-color: #59d5bc;
}

.intro-main__link--toys:hover {
  background-image: url("../img/toy-hover.svg");
  background-color: #46c1ae;
}

.intro-main__link--toys:active {
  background-image: url("../img/toy-active.svg");
  background-color: #46c1ae;
}

.button-primary:hover,
.production__button:hover {
  color: @white;
  background-color: @grey;
}

.button-primary:focus-visible,
.production__button:focus-visible {
  outline: none;
  background-color: @green;
}

.button-primary:active,
.production__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.contacts__link:hover,
.contacts__link:focus-visible {
  outline: none;
  color: #46c1ae;
}

.contacts__link:active::after {
  opacity: 0.1;
}

.footer__mishka-logo:hover svg,
.footer__mishka-logo:focus-visible svg,
.footer__mishka-logo:focus-visible {
  outline: none;
  fill: @green;
}

.footer__mishka-logo:active {
  opacity: 0.3;
}

.social-list__link:focus-visible,
.social-list__link:focus-visible svg {
  outline: none;
  fill: @green;
}

.social-list__logo:hover,
.footer__copyright:hover .footer__copyright-logo {
  fill: #46c1ae;
}

.footer__copyright-link:focus-visible .footer__copyright-text,
.footer__copyright-link:focus-visible {
  color: @green;
  outline: none;
}

.social-list__logo:active,
.footer__copyright-link:active .footer__copyright-logo {
  opacity: 0.3;
}

.product-catalog__item:hover,
.production__wrapper:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product-catalog__item:active,
.production__wrapper:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.production__play-button:hover,
.production__play-button:focus-visible {
  outline: none;
  transform: scale(1.2) translate(-40%, -40%);
  transition: all 0.3s ease;
}

.production__play-button:active {
  transform: scale(0.8) translate(-60%, -60%);
  transition: all 0.3s ease;
  opacity: 0.3;
}

.radio-list__control-mark:hover,
.checkbox-list__control-mark:hover {
  border-color: @green;
}

.radio-list__input:focus-visible + .radio-list__control-mark,
.checkbox-list__input:focus-visible + .checkbox-list__control-mark {
  box-shadow: 0 0 6px 3px @green;
}

.radio-list__control-mark:active,
.checkbox-list__control-mark:active {
  border-color: @grey;
  opacity: 0.3;
}

.radio-list__input:disabled + .radio-list__control-mark,
.checkbox-list__input:disabled + .checkbox-list__control-mark {
  border-color: @grey;
  opacity: 0.1;
}

.client-info-list__input:hover,
.client-info-list__input:not(:placeholder-shown) {
  border-color: @green;
}

.client-info-list__input:focus-visible,
.filters__phone-input:focus-visible,
.filters__email-input:focus-visible,
.filters__wishes:focus-visible {
  outline: none;
  box-shadow: 0 2px 20px 1px @green;
  border-color: @green;
}

.filters__phone-input:hover,
.filters__phone-input:not(:placeholder-shown) {
  border-color: @green;
  background-image: url("../img/phone-hover.svg");
}

.filters__email-input:hover,
.filters__email-input:not(:placeholder-shown) {
  border-color: @green;
  background-image: url("../img/mail-hover.svg");
}

.filters__wishes:hover,
.filters__wishes:not(:placeholder-shown) {
  border-color: @green;
}

.size-list__control-mark:hover {
  border-color: rgba(68, 68, 68, 0.3);
}

.catalog-modal__button:hover {
  background-color: darken(@green, 10);
}

.catalog-modal__button:active {
  background-color: lighten(@green, 10);
}

.size-list__input:focus-visible + .size-list__control-mark {
  box-shadow: 0 0 6px 3px @green;
}

.catalog-modal__button:focus-visible {
  outline: none;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
}
