.production {
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 50px 64px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 105px;
  }
}

.production__wrapper {
  margin: 0 auto;
  padding: 24px 32px 34px;
  box-sizing: border-box;
  width: 260px;
  border: 1px solid #ececec;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    position: relative;
    padding-left: 683px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1050px;
  }
}

.production__title {
  .catalog-production-title;
  margin: 0 0 27px;
  padding-left: 57px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 1px;
    top: 50%;
    width: 32px;
    height: 22px;
    background: url("../img/camera-icon.svg") no-repeat left center;
    transform: translateY(-50%);

    @media (min-width: @tablet-width) {
      left: 41px;
      top: 8px;
    }

    @media (min-width: @desktop-width) {
      left: 78px;
      top: -39px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    padding: 0 42px 0 106px;
  }

  @media (min-width: @desktop-width) {
    margin: 95px 0 27px;
    padding-left: 78px;
    padding-right: 57px;
  }
}

.production__video {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    order: -1;
    margin: 0 auto 41px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.production__video-frame {
  display: block;
  position: relative;
  left: -32px;

  @media (min-width: @tablet-width) {
    position: static;
    display: block;
  }
}

.production__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 101px;
  height: 77px;
  border: none;
  background: url("../img/play-icon.svg") no-repeat center;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.production__description {
  .catalog-production-description;
  margin: 0 0 40px;

  @media (min-width: @tablet-width) {
    padding: 0 39px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 78px;
    padding-right: 57px;
    margin-bottom: 51px;
  }
}

.production__button {
  .catalog-production-button;
  margin: 0 auto;
  padding: 16px 12px;
  box-sizing: border-box;
  width: 192px;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0 42px 46px;
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 57px 60px 79px;
    width: 230px;
  }
}
