.production {
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 50px 64px;
  }
}

.production__wrapper {
  margin: 0 auto;
  padding: 22px 34px 34px;
  box-sizing: border-box;
  width: 260px;
  border: 1px solid #ececec;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding-left: 683px;
    display: flex;
    flex-direction: column;
  }
}

.production__title {
  .catalog-production-title;
  margin: 0 0 27px;
  padding-left: 57px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 32px;
    height: 22px;
    background: url("../img/camera-icon.svg") no-repeat left center;
    transform: translateY(-50%);

    @media (min-width: @tablet-width) {
      left: 42px;
    }

    @media (min-width: @desktop-width) {
      left: 79px;
      top: -30px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    padding: 0 42px 0 99px;
  }

  @media (min-width: @desktop-width) {
    margin: 96px 0 27px;
    padding-left: 79px;
    padding-right: 57px;
  }
}

.production__video {
  position: relative;
  margin-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 101px;
    height: 77px;
    background: url("../img/play-icon.svg") no-repeat center;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  @media (min-width: @tablet-width) {
    order: -1;
    margin: 0 auto 41px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.production__video-frame {
  display: block;
  position: relative;
  left: -34px;

  @media (min-width: @tablet-width) {
    position: static;
    display: block;
  }
}

.production__description {
  .catalog-production-description;
  margin: 0 0 41px;

  @media (min-width: @tablet-width) {
    padding: 0 42px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
    padding-right: 57px;
    margin-bottom: 50px;
  }
}

.production__button {
  .catalog-production-button;
  padding: 17px 11px;
  box-sizing: border-box;
  width: 192px;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0 42px 46px;
    width: 584px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 57px 60px 79px;
    width: 230px;
  }
}
