.footer {
  @media (min-width: @desktop-width) {
    background-color: #f1f1f1;
  }
}

.footer__wrapper {
  padding: 25px 0 22px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;

  @media (min-width: @tablet-width) {
    padding: 51px 50px 58px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1150px;
  }
}

.footer__mishka-logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.footer__mishka-logo svg {
  fill: @black;
}
