.main-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: block;
    max-width: 1150px;
  }
}

.main-header__logo {
  margin: 0 auto;
  padding: 22px 0;
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 22px 0 20px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

.main-header__logo img {
  display: block;
}
