.main-nav {
  @media (max-width: @mobile-width-only) {
    position: relative;
    width: auto;
  }

  @media (min-width: @tablet-width) {
    max-width: 347px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    max-width: 100%;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -52px;
  right: 31px;
  width: 21px;
  height: 20px;
  border: none;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@black, 30%);
  box-shadow:
    0 6px 0 0 fade(@black, 30%),
    0 12px 0 0 fade(@black, 30%);
}

.main-nav--opened .main-nav__toggle {
  top: -52px;
  right: 31px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 27px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@black, 30%);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .user-list__item {
    display: block;
  }
}

.main-nav__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__news-sale-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 100% + 20px;
    left: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 385px;
    gap: 10px 43px;
    z-index: 1;
  }
}

.main-nav__news-sale-link {
  .news-sale-links;
  padding: 10px 10px;
}
