.main-nav {
  @media (min-width: @tablet-width) {
    max-width: 347px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  width: 21px;
  height: 20px;
  border: none;
  background: url("../img/menu-icon.svg") no-repeat center center;
  cursor: pointer;

  &--active {
    background: url("../img/menu-close.svg") no-repeat center center;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  position: absolute;
  top: 79px;
  left: 0;
  min-width: 100%;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.main-nav__wrapper--popover {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
