.page {
  height: 100%;
  background-color: #c7c7c7;
}

.page__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}
