.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50px;
    top: 110px;
    display: flex;
    width: calc(50% - 50px);
  }
}

.site-list__item {
  border-bottom: 1px solid #ececec;

  &:first-child {
    border-top: 1px solid #ececec;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    border: none;
    width: 167px;
  }
}

.site-list__item a {
  display: block;
  padding: 27px 32px 28px 76px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    padding: 0;
    background-color: transparent;
  }
}
