.social-list {
  margin: 0 auto 51px;
  padding: 0;
  position: relative;
  display: flex;
  width: 140px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

  &::after {
    position: absolute;
    content: "";
    width: 260px;
    height: 1px;
    top: 53px;
    left: -59px;
    background-color: #e5e5e5;

    @media (min-width: @tablet-width) {
      content: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 6px 0 10px;
  }
}

.social-list__item {
  width: 28px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__logo {
  fill: #231f20;
  display: block;
}
