.user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.user-list__item {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  @media (min-width: @tablet-width) {
    border-left: 1px solid #ececec;
    border-bottom: none;
    height: 88px;
  }
}

.user-list__button {
  .menu-buttons;
  padding: 27px 32px 28px 76px;
  margin: 0;
  text-align: left;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  &--search {
    @media (min-width: @tablet-width) {
      font-size: 0;
      padding: 36px 32px 34px 33px;
    }

    background: url("../img/search-icon.svg") no-repeat 32px center;
  }

  &--basket {
    background: url("../img/cart-icon.svg") no-repeat 30px center;
  }

  @media (min-width: @tablet-width) {
    padding: 32px 0 32px 79px;

    &--basket {
      background: url("../img/cart-icon.svg") no-repeat 31px center;
    }
  }

  @media (min-width: @desktop-width) {
    &--basket {
      padding-right: 50px;
    }
  }
}
