.client-info-list {
  margin-top: -6px;
  padding: 35px 0 34px;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (min-width: @tablet-width) {
    margin-top: -18px;
    padding: 0;
    gap: 24px;
  }

  @media (min-width: @desktop-width) {
    gap: 22px;
  }
}

.client-info-list__item {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.client-info-list__control {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: baseline;
  }
}

.client-info-list__control-label {
  @media (min-width: @tablet-width) {
    padding-right: 25px;
  }
}

.client-info-list__input {
  .form-inputs();
  padding: 16px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000000;

  @media (min-width: @tablet-width) {
    padding: 12px 0 12px 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 13px 0 13px 18px;
  }
}
