.client-info-list {
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-top: -18px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.client-info-list__item {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.client-info-list__item:not(:last-child) {
  margin-bottom: 22px;
}

.client-info-list__control {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: baseline;
  }
}

.client-info-list__control-label {
  @media (min-width: @tablet-width) {
    padding-right: 25px;
  }
}

.client-info-list__input {
  padding: 17px 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      font-size: 19px;
      line-height: 18px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 18px;
  }
}
