.filters {
  padding: 17px 30px 55px;

  @media (min-width: @tablet-width) {
    padding: 54px 0 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 99px 0 50px;
  }
}

.filters__intro-text {
  .form-intro-text();
  margin: 0 0 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 78px;
    padding: 0 225px 0 225px;
    box-sizing: border-box;
    width: 1150px;
  }
}

.filters__form {
  &-wrapper:nth-of-type(1) {
    @media (min-width: @tablet-width) {
      padding: 65px 0 69px;
      background-color: #f1f1f1;
    }

    @media (min-width: @desktop-width) {
      padding: 68px 0 66px 0;
    }
  }

  &-wrapper:nth-of-type(2) {
    @media (min-width: @tablet-width) {
      padding: 0;
      background-color: #f1f1f1;
    }

    @media (min-width: @desktop-width) {
      padding: 66px 0 50px 0;
    }
  }
}

.filters__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &:nth-of-type(3) .filters__legend {
    margin-bottom: 22px;
  }

  &:nth-of-type(4) .filters__legend,
  &:nth-of-type(5) .filters__legend {
    margin-bottom: 4px;
  }

  &:nth-of-type(6) .filters__legend {
    margin-bottom: 22px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    position: relative;
    display: grid;
    grid-template-columns: 167px auto;

    &:nth-child(3) {
      @media (min-width: @tablet-width) {
        padding: 68px 50px 50px;
      }

      @media (min-width: @desktop-width) {
        padding: 66px 225px 50px 100px;
      }
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 125px auto;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
    width: 1150px;
  }
}

.filters__legend {
  .legend();
  margin: 0;
  padding: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: calc(100% + 24px);
    width: calc(260px - 100% - 24px);
    height: 1px;
    background-color: #62d1ba;

    @media (min-width: @tablet-width) {
      content: none;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 1/ -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 1px 0 0 12px;
  }
}

.filters__list {
  .form-labels();
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    grid-column: 2/3;
  }
}

.filters__label {
  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    margin-top: -19px;
  }
}

.filters__fieldset--phone {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 66px 50px 24px;
    background-color: #f1f1f1;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0 225px 24px 100px;
  }
}

.filters__phone-input {
  .form-inputs();
  margin: 0;
  padding: 20px 0 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  background: url("../img/phone-icon.svg") no-repeat right 7px center;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 13px 55px 14px 18px;
    box-sizing: border-box;
    background: url("../img/phone-icon.svg") no-repeat right 26px top 14px;
  }

  @media (min-width: @desktop-width) {
    background: url("../img/phone-icon.svg") no-repeat right 8px center;
  }
}

.filters__fieldset--email {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 18px 50px 50px;
    background-color: #f1f1f1;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 18px 225px 0 100px;
  }
}

.filters__email-input {
  .form-inputs();
  margin: 0;
  padding: 20px 0 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  background: url("../img/mail-icon.svg") no-repeat right 3px top 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 12px 55px 13px 18px;
    box-sizing: border-box;
    background: url("../img/mail-icon.svg") no-repeat right 22px top 17px;
  }

  @media (min-width: @desktop-width) {
    background: url("../img/mail-icon.svg") no-repeat right 4px center;
  }
}

.filters__fieldset--wishes {
  @media (min-width: @tablet-width) {
    padding: 69px 50px 48px;
  }

  @media (min-width: @desktop-width) {
    padding: 69px 225px 45px 100px;
  }
}

.filters__wishes {
  .form-inputs();
  margin-bottom: 12px;
  padding: 17px;
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  border: 2px solid #444444;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 15px;
  }
}

.filters__ordering-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0 225px;
    box-sizing: border-box;
    width: 1150px;
    align-items: center;
  }
}

.filters__remark {
  .form-remark();
  margin: 0 0 30px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin: 0;
  }
}

.filters button {
  font-size: 17px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}
