.intro-inner {
  @media (min-width: @desktop-width) {
    background: url("../img/zigzag-fill-desktop.svg") repeat-x left bottom -1px/ 1250px 34px;
    background-color: #f1f1f1;
  }
}

.intro-inner__wrapper {
  padding: 72px 0 74px;
  text-align: center;
  background-color: #f1f1f1;

  @media (min-width: @tablet-width) {
    padding: 101px 50px 86px;
    position: relative;
    background: url("../img/zigzag-fill-tablet.svg") repeat-x bottom;
    background-color: #f1f1f1;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 102px 50px 113px;
    box-sizing: border-box;
    width: 1150px;
    background: none;
  }
}

.intro-inner__title {
  .head-title();
  margin: 0;
}

.intro-inner__free-delivery {
  margin: 0;
  display: none;

  @media (min-width: @tablet-width) {
    .free-delivery-text();
    position: absolute;
    top: 21px;
    right: 50px;
    display: block;
  }
}
