.radio-list {
  padding: 35px 0 42px;

  @media (min-width: @tablet-width) {
    padding: 0 0 66px;
  }
}

.radio-list__item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }
}

.radio-list__control {
  display: block;
  position: relative;
  padding-left: 60px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 78px;
  }
}

.radio-list__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-list__control-mark {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid @grey;
  transform: translateY(-50%);

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
    left: 3px;
  }

  @media (min-width: @desktop-width) {
    left: -1px;
  }
}

.radio-list__input:checked + .radio-list__control-mark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) {
    width: 20px;
    height: 20px;
  }
}
